* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-circle, .fa-square, .fa-triangle-exclamation {
    color: #f5e6ffcc;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #5511f6;
    
}

.nav-bar {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6317fd;
    color: white;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-left div:first-of-type {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-right div:last-of-type {
    margin-left: 20px;
    margin-right: 20px;
}

.contact {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 25px;
}

.fa-magnifying-glass, .fa-ellipsis-vertical {
    font-size: 30px;
}

.fa-magnifying-glass {
    margin-right: 25px;
}